<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="{{url_for('static', filename='img/waterylogo.png')}}"/>
    <title>Watery</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
</head>
<body>
    <div id="container">
        <div class="navbar">
            <img src="{{url_for('static', filename='img/waterylogo.png')}}" alt="Logo" style="width: 100px; height: 100px;">
            <div id="button"></div>
            <ul class="links">
                <li class="links"><a class="link" href="#about">About</a></li>
                <li class="links"><a class="link" href="#">Contact</a></li>
            </ul>
        </div>
        <div class="home">
            <div class="img"><img src="{{url_for('static', filename='img/mypic.jpg')}}" alt="my pic"></div>
            <div class="whoiam">
                <h2>Hello, my name is</h2>
                <h1>Dominyk Orlov</h1>
                <a href="#about"><button class="aboutlink"><span></span>About</button></a>
            </div>
        </div>
        <section id="about">

        </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    <script src="{{url_for('static', filename='js/home.js')}}"></script>
</body>
</html>